@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (min-width: 1440px) {
	* {
		box-sizing: border-box;
	}

	body {
		height: 100vh;
		line-height: 1.6;
		font-size: 24px;
	}

	.img-logo {
		padding: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		display: flex;
		border-style: hidden;
		border-radius: 16px;
		background-color: hsl(0, 0%, 100%);
		padding: 20px;
		height: 440px;
	}

	div.container:not(.is-max-desktop):not(.is-max-widescreen) {
		max-width: 800px;
	}

	.billPeople {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px;
	}

	.allContainer {
		background-color: hsl(185, 41%, 84%);
		height: 100vh;
	}

	.inputBill {
		margin-bottom: 20px;
	}

	button {
		width: 100px;
		height: 30px;
	}

	div.buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 0px;
		padding-right: 60px;
	}

	button.button.reset {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.five {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.five:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.ten {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.ten:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.fifteen {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.fifteen:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.twentyFive {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.twentyFive:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.fifty {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.fifty:hover {
		background-color: hsl(172, 67%, 45%);
	}

	/* input.input.custom {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(189, 41%, 97%);
	} */

	.peopleCalc {
		margin-top: 20px;
	}

	.tipTotal {
		border-style: hidden;
		margin-top: 10px;
		border-radius: 16px;
		height: 380px;
		padding: 40px;
		background-color: hsl(183, 100%, 15%);
		width: 70vw;
	}

	.totalPerson {
		margin-top: 20px;
	}

	.reset {
		margin-top: 120px;
		width: 250px;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
	}

	.tipFig {
		color: hsl(172, 67%, 45%);
		font-family: 'Space Mono', monospace;
		font-weight: 900;
		font-size: 20px;
	}

	.totFig {
		color: hsl(172, 67%, 45%);
		font-family: 'Space Mono', monospace;
		font-weight: 900;
		font-size: 20px;
		margin-top: 20px;
	}

	.tipperAmt {
		font-family: 'Space Mono', monospace;
		font-size: 12px;
		color: hsl(0, 0%, 100%);
		font-weight: 700;
	}

	.tipAmt {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.totalPerson {
		font-family: 'Space Mono', monospace;
		font-size: 12px;
		color: hsl(0, 0%, 100%);
		font-weight: 700;
		/* margin-top: 60px; */
	}

	.totPerson {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 30px;
		justify-content: space-between;
	}

	.person {
		font-family: 'Space Mono', monospace;
		font-size: 10px;
		color: hsl(172, 67%, 45%);
	}

	.people {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.tip {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.bill {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 15px;
		margin-bottom: 5px;
	}

	label.bill {
		margin-bottom: 25px;
	}

	input.input.peopN {
		background-color: hsl(189, 41%, 97%);
		width: 23vw;
	}

	.peopN {
		text-align: right;
		font-family: 'Space Mono', monospace;
		transition: 0.3s ease-out;
		display: block;
		font-weight: 700;
		font-size: 24px;
		margin-top: 5px;
	}

	.persons {
		position: absolute;
		top: 345px;
		left: 50px;
	}

	input.input.peopN:focus {
		border-color: hsl(172, 67%, 45%);
	}

	input.input.billInput {
		background-color: hsl(189, 41%, 97%);
		width: 23vw;
	}

	.billInput {
		text-align: right;
		transition: 0.3s ease-out;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 24px;
		border-style: hidden;
		margin-top: 5px;
		margin-right: 30px;
	}

	.dollar-icon {
		position: absolute;
		top: 80px;
		left: 45px;
	}

	input.input.billInput:focus {
		border-color: hsl(172, 67%, 45%);
	}

	input.input.custom {
		width: 100px;
		font-family: 'Space Mono', monospace;
		text-align: right;
		font-weight: 900;
		color: hsl(172, 67%, 45%);
		background-color: hsl(189, 41%, 97%);
		margin-bottom: 8px;
	}

	input.input.custom:focus {
		border-color: hsl(172, 67%, 45%);
	}

	.zeroInput {
		float: right;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	* {
		box-sizing: border-box;
	}

	body {
		height: 100vh;
		line-height: 1.6;
		font-size: 24px;
	}

	.img-logo {
		padding: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		border-style: hidden;
		border-radius: 16px 16px 0 0;
		background-color: hsl(0, 0%, 100%);
		padding: 50px;
	}

	.allContainer {
		background-color: hsl(185, 41%, 84%);
	}

	.inputBill {
		margin-bottom: 20px;
	}

	button {
		width: 129.5px;
		height: 30px;
	}

	div.buttons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	button.button.reset {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.five {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.five:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.ten {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.ten:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.fifteen {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.fifteen:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.twentyFive {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.twentyFive:hover {
		background-color: hsl(172, 67%, 45%);
	}

	button.button.fifty {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(183, 100%, 15%);
		color: hsl(0, 0%, 100%);
	}

	button.button.fifty:hover {
		background-color: hsl(172, 67%, 45%);
	}

	input.input.custom {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		background-color: hsl(189, 41%, 97%);
		margin-bottom: 8px;
	}

	.peopleCalc {
		margin-top: 20px;
	}

	.tipTotal {
		border-style: hidden;
		margin-top: 20px;
		border-radius: 16px;
		height: 250px;
		padding: 20px;
		background-color: hsl(183, 100%, 15%);
	}

	.reset {
		margin-top: 40px;
		width: 235px;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
	}

	.tipperAmt {
		font-family: 'Space Mono', monospace;
		font-size: 12px;
		color: hsl(0, 0%, 100%);
		font-weight: 700;
	}

	.tipAmt {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
	}

	.totalPerson {
		font-family: 'Space Mono', monospace;
		font-size: 12px;
		color: hsl(0, 0%, 100%);
		font-weight: 700;
	}

	.totPerson {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 30px;
		justify-content: space-between;
	}

	.person {
		font-family: 'Space Mono', monospace;
		font-size: 10px;
		color: hsl(172, 67%, 45%);
	}

	.tipFig {
		font-family: 'Space Mono', monospace;
		font-weight: 900;
		font-size: 20px;
		color: hsl(172, 67%, 45%);
	}

	.totFig {
		font-family: 'Space Mono', monospace;
		font-weight: 900;
		font-size: 20px;
		color: hsl(172, 67%, 45%);
	}

	.people {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.tip {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.bill {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 15px;
		margin-bottom: 5px;
	}

	label.bill {
		margin-bottom: 25px;
	}

	input.input.peopN {
		background-color: hsl(189, 41%, 97%);
	}

	.peopN {
		text-align: right;
		font-family: 'Space Mono', monospace;
		transition: 0.3s ease-out;
		display: block;
		font-weight: 700;
		font-size: 24px;
	}

	.persons {
		position: absolute;
		top: 355px;
		left: 60px;
	}

	input.input.peopN:focus {
		border-color: hsl(172, 67%, 45%);
	}

	input.input.billInput {
		background-color: hsl(189, 41%, 97%);
	}

	input.input.billInput:focus {
		border-color: hsl(172, 67%, 45%);
	}

	.billInput {
		width: 60vw;
		text-align: right;
		transition: 0.3s ease-out;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 24px;
		border-style: hidden;
		margin-top: 5px;
	}

	.dollar-icon {
		position: absolute;
		top: 90px;
		left: 55px;
	}

	input.input.custom {
		width: 130px;
		font-family: 'Space Mono', monospace;
		text-align: center;
		font-weight: 900;
		color: hsl(172, 67%, 45%);
	}

	input.input.custom:focus {
		border-color: hsl(172, 67%, 45%);
	}

	.zeroInput {
		float: right;
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 12px;
	}
}
